<div class="container main-contents-block">
  <div class="col-sm-12" style="margin-bottom: 1em">
    <div class="row" style="font-size: xx-large;font-weight: bold;">
      <blockquote class="blockquote" style="font-size: xx-large;font-weight: bold;">
        <p style="margin-left: 0.45em;"><span style="margin-left: -0.6em;margin-right: 0.1em;">"</span>We
          are the misfits, the
          rebels, the troublemakers,</p>
        <p style="margin-left: 0.45em;"> the round pegs in the square holes</p>
        <p style="margin-left: 0.45em;"> and we are crazy enough to think</p>
        <p style="margin-left: 0.45em;"> we can change the world", </p>
        <p style="margin-left: 0.45em;">
          <a id="SoAreYou" routerLink="." (click)="openModal()" style="text-decoration: none;">so are you?</a>
        </p>
      </blockquote>
    </div>
    <div class="row">

    </div>
  </div>
</div>
