<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <a href="https://github.com/Dawn-Team" style="font-size: large;">
          <i class="fab fa-github"></i>
          Dawn-Team
        </a>
      </div>
      <div class="col-sm-12" style="font-size: large;">
        <a href="mailto:arvinsichuan@mail.arvinsichuan.com?subject=I Have%20Questions%20about%20Dawn-Team">
          <i class="fas fa-envelope"></i>
          Service@mail.arvinsichuan.com
        </a>
      </div>
    </div>
  </div>
</footer>
